[submodule "vendor/ssl_3_1"]
	path = vendor/ssl_3_1
	url = https://github.com/1c-syntax/ssl_3_1.git
[submodule "vendor/ssl_3_2"]
	path = vendor/ssl_3_2
	url = https://github.com/1c-syntax/ssl_3_2.git
